<div class="col-md-3" id="sidebar">
  <div class="list-group">
    <%= link_to "What Is iNaturalist?", root_path, class: 'list-group-item '+active_class(root_path) %>
    <%= link_to "What Are Observations?", observations_path, class: 'list-group-item '+active_class(observations_path) %>
    <%= link_to "What Are Organisms?", organisms_path, class: 'list-group-item '+active_class(organisms_path) %>
    <%= link_to "What Are Identifications?", identifications_path, class: 'list-group-item '+active_class(identifications_path) %>
  </div>
</div><!--/.sidebar-offcanvas-->