    <div class="container">
      <ul class="breadcrumb">
        <li><a href="#">Getting Started</a></li>
        <li class="active">What Are Observations?</li>
      </ul>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-9" name="what-is-inaturalist">
              <h2>What Are Observations?</h2>
              <p>iNaturalist helps you record what you see in nature and share with a community of naturalists. Along the way we hope you’ll learn more about what you saw and create research quality data for science.  Here’s how it works...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <embed src="/assets/cullen.svg"></embed>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <h2>Observe</h2>
              <p>Cullen sees an interesting snail on a hike in California. He records the encounter as an observation.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-push-5 col-sm-6 col-sm-push-6 col-xs-12">
              <embed src="/assets/susan.svg"></embed>
            </div>
            <div class="col-md-5 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12">
              <h2>Identify</h2>
              <p>Susan is a zoologist in New York. She identifies Cullen’s observation as a Small Pointed Snail. This kind of snail is native to Europe, but is poorly known in California.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <embed src="/assets/michelle.svg"></embed>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
              <h2>Learn</h2>
              <p>Michelle works at the Santa Clara Division of Agriculture. She uses Cullen’s observation in her research to understand and manage this new biological invasion.</p>
            </div>
          </div>
        </div>
        
        <%= render :partial => "sidebar" %>
        
      </div><!--/row-->
